// variables

// fonts
$font-stack: 'Lato', Calibri, Arial, sans-serif;

// base colors
$background-color: #333;

// box colors
$about: #F06060;
$contact: #10A296;
$media: #72CCA7;
$work: #FA987D;

// text colors
$font-color: #f2ede3;
$link-color: #f0f0f0;
$link-hover-color: #fff;
