<section class="box-content bl-expand bl-expand-top work bl-active">
  <div class="bl-box">
    <h2>{{title}}</h2>
  </div>
  <div class="bl-content">
    <h2>My Work</h2>
    <p>Mung bean maize dandelion sea lettuce catsear bunya nuts ricebean tatsoi caulie horseradish pea.</p>
    <ul id="bl-work-items">
      <!-- <li data-panel="panel-1"><a href="#"><img src="images/1.jpg" /></a></li>
      <li data-panel="panel-2"><a href="#"><img src="images/2.jpg" /></a></li>
      <li data-panel="panel-3"><a href="#"><img src="images/3.jpg" /></a></li>
      <li data-panel="panel-4"><a href="#"><img src="images/4.jpg" /></a></li> -->
    </ul>
    <p>Illustrations by <a href="http://dribbble.com/isaac317/click">Isaac Montemayor</a></p>
  </div>
</section>
